<div class="card">
<!--Add some dummy details for now -->
    <!--Turn The card into a link that we can click to access indivdually-->
    <a href="/restaurant/{{id}}">
    <h3>{{name}}</h3>
    <p>{{bio}}</p>
    <p>{{location}}</p>
    </a>    
</div>