<!DOCTYPE html>
<html lang="en">

<!--To Do: Add links to css once built-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome to Restaurant Reviewer!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand text-dark text-dark" href="/"><h2>My 5STAR Local </h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active text-dark font-weight-bold" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link text-dark font-weight-bold" href="/dashboard">Dashboard</a>
                <a class="nav-link text-dark font-weight-bold" href="" id="logout" style="cursor:pointer">Logout</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </div>
        </div>
    </nav>

    <div class="container rounded mx-auto">
        <div class="col-12 bg-warning mr-5 mt-3 mb-3 border rounded  w-100">
            {{#if logged_in}}
            <div class="border mt-3 p-2 border-light rounded border-2" style="">
                    <h2>Restaurant Search:</h2>
                    <div class="rounded p-2" style="background-color:  #fadadd;">
                    <div>
                        <form action="submit" id='nameSearchForm'>
                        <label class="font-weight-bold" for="nameSearch">Search By Restaurant Name:</label>
                        <br>
                        <input type="text" placeholder="Search by name" id="nameSearch">
                        <br>
                        <button type="submit">Search</button>
                        </form>
                    </div>
                  <div>
                    <form action='submit' id="locSearchForm">
                        <label class="font-weight-bold" for="locationSearch">Search By Location: </label>
                        <br>
                        <input type="text" placeholder="Search by location" id="locationSearch">
                        <br>
                        <button type="submit">Search</button>
                    </form>
                    </div>
                </div>
                </div>
                <br>
                <br>
                {{/if}}

                {{{body}}}

        </div>
    </div>
                {{#if logged_in}}
                    <script src="/js/logout.js"></script>
                    <script src="/js/dashboard.js"></script>
                    <script src="/js/searchRequests.js"></script>
                    <script src="/js/review.js"></script>
                {{else}}
                    <script src="/js/login.js"></script>
                {{/if}}

                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
</body>

</html>