<!DOCTYPE html>
<html lang="en">

<!--To Do: Add links to css once built-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-Title-Here</title>
</head>

<body>
    <header>
        <h1>Page Title</h1>
        <a href="/">Home</a>
        {{#if logged_in}}
        <a href="">My Restaurants</a>
        <button>Logout</button>
        {{else}}
        <a href="">Login</a>
        {{/if}}
    </header>
    
    {{{body}}}

<!--To Do: Add javascript scripts -->
</body>
</html>