<div >
    <div class="border rounded  mt-3 border-light border-2">
        <button id="newRestaurantToggle" class ="m-2" type="button">Click to hide/show section to add restaurant</button>
        <!--CSS to allow hide toggling here-->
        <div class="rounded mt-3 p-2 d-inline-flex flex-column w-100">
            <form class="rounded mt-3 p-2 " style="background-color: #F5F5DC;"  id="new-restaurant-form" action="submit">
                <h2>Add a Restaurant:</h2>
                <label for="restaurant-name">Name:</label>
                <br>
                <input id="restaurant-name" type="text" placeholder="Input the restaurant name here" style="width: 100%;">
                <br>
                <label for="location">Location:</label>
                <br>
                <input id="restaurant-location" type="text"  style="width: 100%;" placeholder="location">
                <br>
                <label for="bio">About Us: </label>
                <br>
                <textarea style="width: 100%;" id="restaurant-bio"></textarea>
                <br>
                <label for="website">Website URL:</label>
                <br>
                <input style="width: 100%;" id="restaurant-website" type="text" placeholder="www.example.com">
                <br>
                <br>
                <button style="width: 100%;" type="submit">Submit</button>
            </form>
        </div>    
    </div>

    <!--Cards Here-->

    <h3 class="p-2" >Restaurants:</h3>
    {{#each restaurants as |restaurant|}}
        {{>restaurant-dash-card}}
    {{/each}}
    
</div>