<div>
    <div>
        <button id="newRestaurantToggle" type="button">Add a restaturant</button>
        <!--CSS to allow hide toggling here-->
        <div class="border mt-3 border-light border-2">
            <form id="new-restaurant-form" action="submit">
                <label for="restaurant-name">Name:</label>
                <br>
                <input id="restaurant-name" type="text" placeholder="Input the restaurant name here">
                <br>
                <label for="location">Location:</label>
                <br>
                <input id="restaurant-location" type="text" placeholder="location">
                <br>
                <label for="bio">Bio:</label>
                <br>
                <textarea id="restaurant-bio"></textarea>
                <br>
                <label for="website">Website URL:</label>
                <br>
                <input id="restaurant-website" type="text" placeholder="www.example.com">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>    
    </div>

    <!--Cards Here-->
{{!-- TODO: one have final css for app, need to update links so retaurant dash card goes to rest page, and add edit button  --}}
    <h3>Restaurants:</h3>
    {{#each restaurants as |restaurant|}}
        {{>restaurant-dash-card}}
    {{/each}}
    
</div>