<div>
    <div class ="border rounded mt-3 border-light roudned p-2 border-2" >
        <h2>Login</h2>
        <form class="p-2 rounded" style="background-color: #FFE5B4;" action="submit" id="login-form">
        <div>
            <label for="email-login">Email Address: </label>
            <input type="text" id="email-login" placeholder="example@email.com"/>
        </div>
        <div>
            <label for="password-login">Password: </label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        </form>
    </div>
    
    <div class ="border rounded mt-3 border-light roudned p-2 border-2" >
        <div>
        <h2>Signup</h2>
        <form class="p-2 rounded" style="background-color: #FFE5B4;" action="submit" id="signup-form">
        <div>
            <label for="email-signup">Email Address: </label>
            <input type="text" id="email-signup" placeholder="example@email.com"/>
        </div>   

        <div>
            <label for="username-signup">Username: </label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">Password: </label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">Signup</button>
        </div>
        </form>
    </div>
    </div>
</div>